#campus-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.campus-container {
  max-width: 600px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.campus-page-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.campus-cell {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "name count buttons";
  padding: 1rem;
  border-bottom: 1px solid #e0e0e06b;

  .campus-name {
    grid-area: name;
  }
  .campus-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
  }
  .campus-count {
    grid-area: count;
  }
}
