*/node_modules
*/.env
*/.env_local
*/.env_remote
.dockerignore
*/.gitignore
.git
.aws
/database/seeds/development/
*/docker-compose.yml
Docker
*/readme.md
*/env_local-template
backend/tests/
.env
/screenshots/