/* HeatMap.css */
.heatmap-container {
  background: #ffffff;
  color: #000000;
  border-radius: 3px;
  padding: 1rem;
  overflow: hidden;
}
.heatmap-container {
  background: #acacac;
  border-radius: 3px;
  padding: 1rem;
  overflow: hidden;
}
.heatmap-container .cal-heatmap-container {
  margin: 0 auto;
}

.cal-heatmap-tooltip.show {
  display: block;
}
