.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.header-container {
  display: grid;
  padding: 2rem;
  grid-template-areas: "menu profile";
}

.filler-line {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 2px;
  background-color: var(--dark-primary-filler-linecolor);
  border-radius: 1px;
}


.profile-container {
  grid-area: profile;

  display: flex;
  position: absolute;
  align-items: center;
  right: 5%;

  gap: 1rem;
}

.menu-button {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
