<html>
    <head>
        <style>

        </style>
    </head>
<body>
    <p>{{name}} on kutsutunut sinut Urheilup채iv채kirjan vierailijaksi. Voit luoda tunnuksesi alla olevasta linkist채:</p>
    <p>{{link}}</p>
    <p>Linkki on voimassa seitsem채n vuorokauden ajan.</p>
</body>

</html>