<html>
<head>
    <style>
    </style>
</head>
<body>
    <p>Hei,</p>
    <p>{{sendersName}} on kutsunut sinut Urheilupäiväkirjan opettajaksi. Voit luoda tunnuksesi alla olevasta linkistä:</p>
    <a href={{link}}>Rekisteröidy tästä</a>
    <p>Linkki on voimassa seitsemän vuorokauden ajan.</p>
</body>
</html>