<html>
    <head>
        <style>
        </style>
    </head>
<body>
    <p>Hei {{name}},</p>
    <p>Olet pyytänyt salasanasi nollaamista.</p>
    <p>Syötä alla oleva koodi jatkaaksesi:</p>
    <p>{{otp}} </p>
</body>

</html>