@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: roboto, sans-serif;
    --color-bg-primary: 243 244 246;
    --color-bg-secondary: 217 217 217;

    --color-text-primary: 0 0 0;
    --color-text-secondary: 103 103 103;

    --color-border-primary: 95 95 95;

    --color-graph-primary: 49 156 255;
    --color-graph-secondary: 34 40 49;

    background-color: var(--color-bg-primary);
  }

  :root[data-theme="dark"] {
    font-family: roboto, sans-serif;
    --color-bg-primary: 7 7 7;
    --color-bg-secondary: 16 18 19;
    --color-text-primary: 255 255 255;
    --color-text-secondary: 103 103 103;
    --color-border-primary: 255 255 255;

    --color-graph-primary: 49 156 255;
    --color-graph-secondary: 34 40 49;

    background-color: var(--color-bg-primary);
  }
}
