@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: roboto, sans-serif;
    /* --color-bg-primary: 255 255 255;
    --color-bg-secondary: 235 238 241; */

    --color-bg-primary: 235 238 241;
    --color-bg-secondary: 255 255 255;

    --color-text-primary: 0 0 0;
    --color-text-secondary: 103 103 103;

    --color-header-primary: 49 156 255;
    --color-header-secondary: 40 52 78;

    --color-border-primary: 143 142 142;

    --color-graph-primary: 49 156 255;
    --color-graph-secondary: 40 52 78;

    --color-gray: 217 217 217;
    --color-green: 0 230 0;
    --color-red: 230 0 0;

    --color-modal-bg-primary: 75 75 75;

    /*NEW COLORS HERE*/
    --color-rest: 93 148 205;
    --color-sick: 231 154 63;

    --color-list-exercice: 240 250 240;
    --color-list-sick: 250 240 240;
    --color-list-rest: 240 240 250;
  }

  :root[data-theme="dark"] {
    font-family: roboto, sans-serif;
    --color-bg-primary: 28 28 31;
    --color-bg-secondary: 49 49 60;
    --color-text-primary: 255 255 255;
    --color-text-secondary: 151 149 173;

    --color-header-primary: 83 131 232;
    --color-header-secondary: 40 52 78;

    --color-graph-primary: 83 131 232;
    --color-graph-secondary: 40 52 78;

    --color-gray: 100 100 100;
    --color-green: 0 128 0;
    --color-red: 128 0 0;

    --color-list-exercice: 40 50 40;
    --color-list-sick: 50 35 35;
    --color-list-rest: 40 40 50;
  }

  body {
    background-color: rgb(var(--color-bg-primary));
  }
}

@layer components {
  .Button {
    display: inline-block;

    padding: 0.25rem 0rem;
    width: 4rem;
    border-radius: 0.375rem;
    background-color: rgb(var(--color-header-primary));
    color: rgb(var(--color-text-primary));
    border: 1px solid rgb(var(--color-border-primary));

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.1s;

    &:active {
      scale: 0.95;
    }
  }
  ö .IconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--color-text-primary));

    border-radius: 3px;
    width: 22px;
    height: 22px;

    cursor: pointer;
    transition: all ease-in-out 0.1s;

    &:active {
      scale: 0.95;
    }
  }
}

.mainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fixed-header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}

a.active {
  color: rgb(var(--color-header-primary));
  border-color: rgb(var(--color-header-primary));
}

/* Cal-Heatmap Settings */
.ch-subdomain-bg {
  fill: rgb(var(--color-bg-secondary));
  color: rgb(var(--color-text-primary));
}
.ch-subdomain-text {
  fill: rgb(var(--color-text-secondary));
}

.ch-subdomain-bg.highlight {
  stroke: rgb(var(--color-graph-primary));
  stroke-width: 1px;
}

.ch-subdomain-bg:hover {
  stroke: rgb(var(--color-header-primary));
  stroke-width: 1px;
}
[data-theme="dark"] .ch-subdomain-bg {
  fill: rgb(var(--color-bg-secondary));
}

[data-theme="dark"] .ch-subdomain-bg.highlight {
  stroke: rgb(var(--color-graph-primary));
}

[data-theme="dark"] .ch-subdomain-bg:hover {
  stroke: #636e7b;
  color: rgb(var(--color-text-primary));
}

#studentCard {
  & .ch-subdomain-bg {
    fill: rgb(var(--color-bg-primary));
  }
}
/* Scrollbar Settings */
::-webkit-scrollbar {
  margin: 10px;
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6d6d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-graph-primary));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.right-neg-one-point-five {
  right: -0.375rem;
}

.right-neg-one {
  right: -0.25rem;
}

.top-neg-one {
  top: -0.25rem;
}
