.loginContainer {
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-backgroundcolor);

  border-radius: 10px;
    padding: 20px;


}

.loginTitle {
  color: var(--primary-textcolor);
  font-size: 2em;
  font-weight: 400;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.loginInputContainer {
  color: var(--primary-textcolor);
  font-size: 1.5em;
  margin: 1rem;

  display: flex;
  flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;

    & input{
        color: var(--primary-inputtextcolor);
        padding: 0.5rem;
        border-radius: 5px;
        background-color: var(--primary-backgroundcolor);
        border: 1px solid var(--primary-bordercolor);
    }

}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

}

.Button{
    color: var(--primary-textcolor);
    font-size: 1em;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-backgroundcolor);
    border: 1px solid var(--primary-bordercolor);
    cursor: pointer;
}

.loginButton{
    background-color: var(--secondary-backgroundcolor);
}